[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psutil = "*"
pyusb = "*"
github-flask = "*"
sortedcontainers = "*"
sqlalchemy = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"
